
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--gray);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--gray);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(var(--apple), var(--citrus), var(--apricot), var(--rusty));
  padding: 0em 1.5em 0;
  height: 100%;
  box-shadow: 5px 0px 20px var(--gray);

}

/* Wrapper for item list */
.bm-item-list {
  color: var(--gray);
}


.first-list li:hover, .second-list li:hover, .nav-link h2:hover {
  color: var(--gray);
}

  .nav-link {
    text-decoration: none;
  }

  .nav-link h2 {
    color: black;
    font-size: 25px;
    font-family: 'Acme', cursive;
    margin-bottom: -15px;
    width: 100%;
  }

  .first-list, .second-list {
    list-style: none;
  }

  .first-list {
    margin-left: -40px;
  }

  .second-list {
    margin-left: -35px;
  }

  .second-list li {
    margin-left: 20px;
  }

  .bm-overlay {
    height: 100%;
    position: fixed;
    top: 0;
  }
  
  .nav-logo {
    width: 100px;
    background: none;
  }

  .nav-logo-div {
    text-align: center;
    margin-top: 75px;
  }