@import url("https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap");

:root {
  --text: #6B7A8F;
  --citrus: #F7C331;
  --rusty: #DD7E00;
  --apricot: #F7882F;
  --background: #DCC7AA;
}

* {
  background: var(--background);
}

.internal-link {
  background: none;
  color: white;
  
}

.internal-link:hover {
  color: var(--text);
  padding: 5px;
}

.title {
  font-family: 'Acme', sans-serif;
    font-size: 40px;
    background: var(--rusty);
    color: var(--text);
    text-align: center;
    padding: 10px;
    width: 350px;
    box-shadow: 10px 10px 20px var(--text);
}

.button-div {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: none;
}

.button {
    background: none;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    padding: 10px;
    background: var(--rusty);
    border: 3px solid var(--rusty);
    margin-bottom: 25px;
    box-shadow: 5px 5px 20px var(--text);
    border-radius: 10px;
}

.button:hover {
    background: var(--text);
    color: var(--citrus);
    text-decoration: underline;
}

.label {
  background: none;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  padding: 10px;
}

.input {
  height: 30px;
  width: 75%;
  background: white;
  border: 3px solid var(--citrus);
  box-shadow: 10px 10px 20px var(--text);
  font-family: 'Patrick Hand', arial;
  color: var(--text);
  font-size: 25px;
  -webkit-text-stroke: 1px;
  border-radius: 10px;
}

.form-div {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: none;
}

.link-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Patrick Hand', arial;
  font-size: 20px;
}

@media only screen and (min-width: 1000px) {
  .title {
     margin: auto;
     margin-top: 20px;
     border: 3px solid var(--citrus);
     border-radius: 10px;
  }
}