.rates-description {
    font-family: 'Patrick Hand', arial;
    font-size: 18px;
    text-align: justify;
    margin: 15px 30px;
    color: black;
}

.rates-table {
    border-collapse: collapse;
    margin: 50px 10px;
    font-family: 'Patrick Hand', arial;
    font-size: 15px;
}

.header-row {
    font-family: 'Acme', arial;
    font-size: 25px;
}

.header-row th {
    background: var(--rusty);
    padding: 10px 0px;
}


.data-row {
    border: 5px dashed var(--rusty);
    padding: 1px;
    background: var(--apple)
}

.center-data {
    text-align: center;
    padding: 3px;
    border-right: 5px dashed var(--rusty);
}

.additional-info span {
    background: none;
}

 .data-row div div span {
    background: var(--citrus);
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.additional-info {
    margin: 15px 0px;
   width: 100%;
}

.border-data {
    border: 5px var(--rusty) dashed;
}

/* @media only screen and (min-width: 500px) {
    .rates-table {
        margin: auto;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .rates-description{
        font-size: 22px;
    }
    .data-row div div span {
        width: 200px
    }
}

@media only screen and (min-width: 1000px) {
    .rates-table {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .rates-description{
        font-size: 27px;
    }
}

@media only screen and (min-width: 1000px) {
    .rates-title {
       margin: auto;
       margin-top: 20px;
       margin-bottom: 30px;
       border: 3px solid var(--citrus);
       border-radius: 10px;
    }
} */
