.link, .link a, .contact-div, .contact-form, .general-contact, .contact-des {
    background: none;
}
.contact-title {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    background: var(--rusty);
    color: var(--text);
    text-align: center;
    padding: 10px;
    width: 350px;
    box-shadow: 10px 10px 20px var(--text);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-div {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: none;
}

.contact-form label, .contact-form button, .success-message p, .success-message button {
    background: none;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.contact-form button, .success-message button {
    background: var(--rusty);
    border: 3px solid var(--rusty);
    margin-bottom: 25px;
    box-shadow: 5px 5px 20px var(--text);
    border-radius: 10px;
}

.success-message button {
    margin-bottom: 10px;
}

.contact-form button:hover {
    background: var(--text);
    color: var(--citrus);
    text-decoration: underline;
}

.contact-form input, .contact-form textarea {
    background: white;
    border: 3px solid var(--citrus);
    box-shadow: 10px 10px 20px var(--text);
    font-family: 'Patrick Hand', cursive;
    color: var(--text);
    font-size: 25px;
    -webkit-text-stroke: 1px;
    border-radius: 10px;
}

.contact-form input {
    height: 30px;
    width: 75%;
}

.contact-form textarea {
    width: 75%;
    height: 250px;
}

.general-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

.general-contact a {
    margin-bottom: 10px;
    margin-left: 5px;
    color: var(--background);
}

.general-contact a:hover {
    color: white;
}

.contact-des {
    text-align: justify;
    width: 90%;
}

.contact-card {
    background: var(--rusty);
    border: solid 3px var(--citrus);
    border-radius: 10px;
    padding: 0px 20px;
    box-shadow: 10px 10px 20px var(--text);
}

@media only screen and (min-width: 1000px) {
    .general-contact {
        width: 45%;
        margin-top: 20px;
    }
    .contact-form {
        width: 45%;
    }
    .contact-div {
        display: flex;
    }
    .contact-title {
       margin: auto;
       margin-top: 20px;
       border: 3px solid var(--citrus);
       border-radius: 10px;
    }
}
