.home-title, .home-description, .content, .site-option, .site-options {
    background: none;
}

.header-gif {
    width: 100%;
}
.home {
    background-image: url('../images/clays-circle-logo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.content {
    margin-bottom: 50px;
}

.intro {
    background: var(--rusty);
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 3px solid var(--citrus);
    box-shadow: 10px 10px 20px var(--text);
    margin-top: -20px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}

.home-title {
    font-family: 'Acme', cursive;
    font-size: 35px;
    text-align: center;
    color: var(--text);
}

.home-description {
    font-family: 'Patrick Hand', cursive;
    margin: 0px 10px;
    text-align: justify;
    font-size: 20px;
}

.site-options {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle {
    background: var(--rusty);
    height: 175px;
    width: 300px;
    border-radius: 300px;
    box-shadow: 10px 10px 20px var(--text);
    border: 3px solid var(--citrus);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.site-option {
    text-align: center;
    font-family: 'Acme', cursive;
    font-size: 35px;
}

@media only screen and (max-width: 750px) {
    .home {
        background-size: cover;
    }
}

@media only screen and (min-width: 600px) {
    .site-options {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 800px) {
    .header-gif {
        width: 70%;
        border: 3px solid var(--citrus);
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .intro {
        width: 60%;
        margin-right: 20px;
        margin-top: -100px; 
    }

    .home-description {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1100px) {
    .header-gif {
        width: 80%;
        /* margin-left: 250px; */
    }
    .intro {
        width: 80%;
        margin-top: -150px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 1300px) {
    .intro {
       width: 50%;
       margin-top: -275px;
    }
    .header-gif {
        width: 50%;
    }
}
