footer {
    background: linear-gradient(var(--rusty), var(--apricot), var(--citrus), var(--apple));
    padding-top: 10px;
}

.footer-link {
    font-size: 0px;
}

.contact, .socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-around;
}

.footer-icon-div {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

.footer-icon {
    color: black;
    height: 50px;
}

.footer-icon:hover {
    color: var(--gray);
}

.creator-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.creator-logo img {
    height: 100px;
    background: none;
}

.copyright {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    margin-left: 5px;
}

@media only screen and (min-width: 750px) {
    .footer-div {
        display: flex;
        justify-content: space-around;
    }
    .footer-icon-div {
        width: 45%;
    }
}