.sites-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px;
}

.site {
    background: var(--apple);
    width: 80%;
    text-align: center;
    border-radius: 10px;
    border: 10px dashed var(--rusty);
    padding-bottom: 25px;
    margin: 10px;
    box-shadow: 10px 10px 20px var(--gray);
}

.site-title {
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

.site-locale {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    margin-top: -30px;
}

.logo-img {
    height: 200px;
    width: 200px;
    margin-top: -20px;
}

.site-image {
    height: 200px;
    width: 300px;
}

.site div div span {
    background: var(--citrus);
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.site-description {
    font-size: 20px;
    width: 85%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 5px;
    text-align: justify;
}

.site-description ul {
    margin-left: 50px;
    margin-top: -2px;
}


.site-link:hover {
    color: var(--rusty);
}

@media only screen and (max-width: 500px) {
    .portfolio-div {
        background-size: cover;
    }
}
@media only screen and (min-width: 1000px) {
    .site {
        display: flex;
        flex-wrap: wrap;
    }
    .title-info {
        width: 50%;
    }
    .img-div {
        width: 50%;
    }
    .logo-img {
        margin-top: 20px;
        height: 250px;
        width: 250px;
    }
    .site-title {
        font-size: 30px;
    }
    .site-locale {
        font-size: 30px;
    }
    .site-image {
        height: 250px;
        width: 250px;
        margin-top: 20px;
    }
    .site-description {
        font-size: 25px;

    }
    .portfolio-title {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        border: 3px solid var(--citrus);
        border-radius: 10px;
     }
}

@media only screen and (min-width: 1250px) {
    .site {
        justify-content: center;
        width: 50%;
    }
    .title-info {
        width: 45%;
    }
    .img-div {
        width: 45%;
    }
    .site-image {
        margin-top: 0px;
    }
    .logo-img {
        margin-top: 0px;
    }
}
