.header-div, .lang-btn, .lang-div, .header-logo, .web-banner {
    background: none;
}

.header {
    background: var(--citrus);
}
.banner-div {
    background: var(--citrus);
    display: flex;
    justify-content: center;

}

.web-banner {
    margin-top: 5px;
    height: 150px;
}

.service-list, .service-list li {
    background: none;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    background: var(--citrus);
    border-bottom: solid 5px var(--text);
    border-bottom-left-radius: -50px
}

.service-list li {
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    color: var(--text)
}

.header-div {
    display: flex;
    justify-content: center;
    background: var(--citrus);
    height: 120px;
}

.header-logo {
    background: none;
    height: 100px;
    z-index: 2;
    margin-top: 10px;
}

.apple-background {
    position: absolute;
    left: 0;
    top: 70px;
    height: 90px;
    background: var(--background);
    width: 100%;
    z-index: -1;
}
.lang-div {
    display: flex;
    justify-content: space-around;
}

.lang-btn {
    width: 100px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background: var(--rusty);
    border: 3px solid var(--rusty);
    margin-bottom: 25px;
    box-shadow: 5px 5px 20px var(--text);
    border-radius: 10px;
}