.banner-div {
    display: flex;
    justify-content: center;
}

.header {
    background: linear-gradient(var(--apple), var(--citrus), var(--apricot), var(--rusty));
    padding: 5px;
}

.nav-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.nav-btn {
    color: black;
    text-decoration: none;
    border: solid 2px var(--gray);
    border-radius: 20px;
    padding: 5px;
    background: var(--apple);
    font-family: 'Acme', sans-serif;
}

.nav-btn:hover {
    background: var(--gray);
    border: 3px solid var(--citrus);
}

.lang-div {
    display: flex;
    justify-content: right;
    z-index: 1;
}

.lang-button {
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: var(--apple);
    border: 3px solid var(--gray);
    height: 35px;
}

.lang-button:hover {
    border: 3px solid var(--citrus);
    background-color: var(--gray);
    height: 50px;
    width: 50px;
}

.header-logo {
    height: 200px;
}

.logo-div {
    display: flex;
    justify-content: center;
}