.banner-div {
    display: flex;
    justify-content: center;
}

.business-div {
    display: flex;
    justify-content: center;
}

.business-name {
    font-family: 'Patrick Hand', sans-serif, arial;
    color: black;
    position: relative;
    top: -10px;
    text-align: center;
    font-size: 40px;
}

.service-list {
    font-family: 'Patrick Hand', sans-serif, arial;
    color: black;
    position: relative;
    top: -30px;
    text-align: center;
}

.business-name:hover {
    color: var(--gray);
}

.home-link {
    text-decoration: none;
    width: 100%;
}

.header {
    background: linear-gradient(var(--apple), var(--citrus), var(--apricot), var(--rusty));
    padding: 5px;
    height: 200px;
}

.lower-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: -20px;
    align-items: center;
}

.lang-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.nav-div {
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
}

.nav-btn {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0px 10px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 5px dashed var(--rusty);
    background: var(--apple);
    box-shadow: 5px 5px 20px var(--gray);
    border-radius: 10px;
}

.lang-button {
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 5px dashed var(--rusty);
    background: var(--apple);
    box-shadow: 5px 5px 20px var(--gray);
    border-radius: 10px;
}

.lang-button:hover, .nav-btn:hover {
    background: var(--gray);
    color: var(--citrus);
    text-decoration: underline;
}

.header-logo {
    height: 200px;
}

@media only screen and (max-width: 437px) {
 .header {
    height: 275px;
 }
}

@media only screen and (max-width: 850px) {
   .nav-btn {
    margin: 0px 2px;
   }
}