.banner-div {
    display: flex;
    justify-content: center;
}


.header-circle-logo {
    height: 100px;
    margin: auto;
    position: relative;
    top: -50px;
}

.header {
    background: linear-gradient(var(--apple), var(--citrus), var(--apricot), var(--rusty));
    padding: 5px;
    height: 100px;
}

.upper-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-div, .lang-div {
    margin-top: 10px;
}
.nav-div {
    display: flex;
    width: 100%;
    justify-content:center;
}

.nav-btn {
    color: black;
    text-decoration: none;
    border: solid 2px var(--gray);
    border-radius: 20px;
    padding: 10px;
    margin: 0px 10px;
    font-family: 'Acme', sans-serif;
}

.nav-btn:hover {
    background: var(--gray);
    color: white;
}

.lang-div {
    display: flex;
    justify-content: right;
}

.lang-button {
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50px;
    height: 45px;
    border: solid 2px var(--gray);
    border-radius: 20px;
    background: none;
    width: 45px;
}

.lang-button:hover {
    background: var(--gray);
}

.header-logo {
    height: 200px;
}

.logo-div {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 850px) {
   .nav-btn {
    margin: 0px 2px;
   }
}

@media only screen and (min-width: 800px) {
    .header-circle-logo {
        margin-left: 0px;
    }
 }