/* Apple Core: #DCC7AA */
/* Citrus: #F7C331 */
/* Apricot: #F7882F */
/* Rusty: #DD7E00 */

/* font-family: 'Acme', sans-serif;
font-family: 'Patrick Hand', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap");

:root {
  --text: #6B7A8F;
  --citrus: #F7C331;
  --rusty: #DD7E00;
  --apricot: #F7882F;
  --background: #DCC7AA;
}

* {
  background: var(--background);
}

.internal-link {
  background: none;
  color: var(--background);
  
}

.internal-link:hover {
  color: white;
  padding: 5px;
}
