.square-4 {
    background-image: url('../../images/portfolio.webp')
}

.square-5 {
    background-image: url('../../images/price.webp')
}

.paragraph {
    background: var(--apple);
    padding: 20px;
    border: 10px var(--rusty) dashed;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    width: 75%;
}