.about {
    background: none;
}

.about-content {
    background-image: url('../images/clays-circle-logo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-header {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    background: none;
    display: flex;
    justify-content: center;
    width: 350px;
}

.portrait {
    height: 300px;
    width: 150px;
    border: 8px solid var(--rusty);
    border-radius: 50%;
    object-fit: fit;
    margin-top: 20px;
    z-index: 1;
    position: relative;
}

.card-title h2 {
    margin-top: 125px;
    margin-left: -40px;
    font-family: 'Acme', sans-serif;
    font-size: 35px;
    background: var(--citrus);
    padding-left: 70px;
    padding-right: 30px;
    color: var(--text);
    text-align: center;
}
.title-list, .title-list li {
    background: var(--rusty);
}

.title-list {
    margin-top: -125px;
}

.title-list {
      margin-left: 125px;
}

.title-list li {
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}

.about-info {
    background: var(--rusty);
    border: 5px solid var(--citrus);
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    text-align: justify;
    width: 85%;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px var(--text);
}

.about-info p {
    background: none;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.about-large-screen-img {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .title-list {
        list-style: none;
    }
}
@media only screen and (min-width: 1000px) {
    .about {
        display: flex;
    }
    .card-header {
        width: 45%;
    }
    .about-info {
        width: 50%;
    }
    .portrait {
        width: 200px;
        height: 400px;
    }
    .title-list  {
        margin-top: -200px;
        margin-left: 200px;
    }
    .card-title h2 {
        margin-top: 150px;
        margin-left: -20px;
        margin-bottom: 100px;
    }
}
