.web-welcome {
    display: flex;
    justify-content: center;
}

.home-welcome {
    width: 100%;
    margin-top: 10px;
}

.intro {
    background: var(--apple);
    padding: 20px;
    margin-top: -50px;
    border: 10px var(--rusty) dashed;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.home-title {
    font-family: "Acme", sans-serif;
    color: var(--rusty);
    text-align: center;
}

.home-description {
    font-family: "Patrick Hand", sans-serif;
}

.logo-div {
    position: relative;
    display: flex;
    justify-content: left;
    margin-left: 5px;
}

.site-options {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square-1 {
    background-image: url('../images/web-development-img.webp');
}
.square-2 {
    background-image: url('../images/writing-img.webp');
}
.square-3 {
    background-image: url('../images/contact-img.webp');
}
.square { 
    height: 200px;
    width: 350px;
    background-size: 350px 200px;
    border: 10px dashed var(--rusty);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.square:hover {
    border: 10px dashed var(--citrus);
}

.option-link {
    text-decoration: none;
}

.site-option {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: black;
    -webkit-text-stroke: 1px black;
}

@media only screen and (min-width: 700px) {
    .home-welcome {
        width: 65%;
        margin: auto;
        margin-top: 25px;
    }
    .square {
        height: 150px;
        width: 225px;
    }
    .site-options {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
}