.resume-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.resume-img {
    height: 250px;
    width: 250px;
    border: solid 3px var(--rusty);
    border-radius: 20px;
    box-shadow: 5px 5px 20px var(--text);
    background: var(--citrus);
}

.resume-div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin-top: 30px;
}

.Collapsible {
    font-family: 'Patrick Hand', cursive;
}


.education-div, .awards-div, .experience-div, .one-class, .class-list, .abroad-div, .language-div, .publication-div, .conference-div {
    background: var(--text);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.education-div h4, .experience-div h3, .class-list h5, .experience-div h5, .abroad-div h3, .publications-div h4, .conference-div h3{
    font-family: 'Acme', cursive;
    font-size: 20px;
    text-align: center;
    background: none;
    margin-bottom: -10px
}

.education-div h5, .education-div h6, .education-div ul, .education-div li, .experience-div h4, .one-class h6, .abroad-div h4, .publication-div h5, .conference-div h4 {
    background: none;
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: var(--background);
    margin: 5px 10px;
}

.experience-div p, .class-list p, .abroad-div p, .conference-div p{
    background: none;
    color: var(--background);
    font-size: 20px;
    margin: 10px;
    text-align: justify;
}

.awards, .awards li, .language-div li, .language-div li strong {
    background: none;
    color: var(--background);
    font-size: 20px;
}

.education-div li, .education-div ul {
    list-style: none;
    padding-left: 0
}

.class-list {
    margin: -10px 0px;
}

#last-class {
    padding-bottom: 20px;
}

.resume-link {
    color: var(--gray);
    background: none;
}

.resume-link:hover {
    color: white;
}

.publications-div h3 {
    font-family: 'Acme', cursive;
    font-size: 30px;
    text-align: center;
    background: var(--text);
    color: var(--apricot);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: -5px;
}

.publication-div h4 {
    margin-bottom: 20px;
}

.skills-div, .experience-div, .education-div, .awards-div, .abroad-div, .language-div, .publication-div, .conference-div {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: var(--apple);
    border: 5px dashed var(--rusty);
}

.skills-div div {
    width: 50%;
}

.skills-div ul, .skills-div li {
    font-size: 17px;
}

.resume-div div span {
    background: var(--citrus);
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
}

